@font-face {
  font-family: irsansM;
  src: url("./fonts/irsans-m.woff") format("woff");
}
@font-face {
  font-family: irsansL;
  src: url("./fonts/irsans-l.woff") format("woff");
}
@font-face {
  font-family: irsansB;
  src: url("./fonts/irsans-b.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: #050505;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
